apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ .Values.namespace }}
  labels:
    app: postgres
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  POSTGRES_DB: {{ .Values.postgres.config.database | quote }}
  POSTGRES_USER: {{ .Values.postgres.config.user | quote }}
