apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Values.namespace }}
  labels:
    app: postgres
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
type: Opaque
stringData:
  POSTGRES_PASSWORD: {{ .Values.postgres.secret.password | quote }}
