apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: product-services-dev
  labels:
    app: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
        version: "1.0.0"
    spec:
      containers:
      - name: inventory-service
        image: elizjohn/inventory-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8083
          name: http
        envFrom:
        - configMapRef:
            name: inventory-config
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8083
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8083
          initialDelaySeconds: 30
          periodSeconds: 5
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: product-services-dev
  labels:
    app: inventory-service
spec:
  type: ClusterIP
  selector:
    app: inventory-service
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
