# Development environment overrides
namespace: product-services-dev

postgres:
  replicas: 1

  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
